# Node modules
# ----------------------------
/node_modules
/yarn-error.log
yarn.lock

# Cache
# ----------------------------
/.sass-cache
/.cache

# .DS_store files
# ----------------------------
.DS_Store
