//
// Neutral colors
// ---------------------------------------

$color-0-darkest: #333;
$color-0-dark: #414352;
$color-0: #798088;
$color-0-ligth: #A2A8B7;
$color-0-lightest: #FFF;

//
// Main colors
// ---------------------------------------

$color-1: #29E4AE;
$color-1-light: #56eabf;

$color-2: #0088FE;
$color-2-light: #E2F0FF;

//
// Color aliases
// ---------------------------------------

$color-text: $color-0;
