//
// Fonts
// ---------------------------------------

$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Ubuntu', sans-serif;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;
