.d-sidebar {
  background-color: $sidebar-color;
  border-right: $sidebar-border;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width;
  padding: 1.2rem;
  color: $font-color;
  overflow: auto;

  a {
    color: inherit;
  }
}

.d-sidebar__title {
  font-family: $font-family;
  font-weight: $font-bold;
  font-size: 2rem;

  span {
    font-weight: $font-normal;
  }
}

.d-sidebar__list {
  list-style: none;
  padding: 0;
}
