$main-color: #0099e5;

$font-family: 'Lato', sans-serif;
$font-normal: 400;
$font-bold: 900;
$font-color: #373e42;

$section-color: #fff;

$sidebar-color: #f5f7f9;
$sidebar-width: 20rem;
$sidebar-border: .1rem solid darken($sidebar-color, 5);
