.o-footer {
  position: relative;
}

.o-footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.o-footer-logo {
  margin-bottom: 3rem;
}

.o-footer-tagline {
  font-family: $font-family-heading;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: $font-weight-medium;
  color: $color-0-lightest;
  margin: 0 0 7.2rem;
}
